<md-sidenav-container  class="app-sidenav">
  <md-sidenav #sidenav mode="side" class="app-sidenav">
    Sidenav
  </md-sidenav>
  <md-toolbar color="primary">
    <button class="app-icon-button" (click)="sidenav.toggle()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button>
    <h1>
      {{title}}
    </h1>
  </md-toolbar>
<div>
  <!--<paper-drawer-panel >
    <paper-header-panel  drawer>
      <paper-toolbar>
        <paper-button active="!isLoggedin()"  on-click="userLogin()" id="btnLogin">Login</paper-button>
        <paper-button active="!isLoggedin()"  on-click="newAccount()" id="btnNewAccount">New Account</paper-button>
      </paper-toolbar>
      <router-outlet name="leftoutlet"></router-outlet>
      <router-outlet name="popupOutlet"></router-outlet>
    </paper-header-panel>

    <paper-header-panel id="mainPanel" main>
      <router-outlet></router-outlet>



    </paper-header-panel>
  </paper-drawer-panel>-->

</div>
</md-sidenav-container>